aniso8601==7.0.0
click==8.0.1
Flask==2.0.1
Flask-GraphQL==2.0.1
graphene==2.1.9
graphene-mongo==0.2.13
graphql-core==2.3.2
graphql-relay==2.0.1
graphql-server-core==1.2.0
iso8601==0.1.16
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mongoengine==0.23.1
mongomock==3.23.0
promise==2.3
pymongo==3.12.0
Rx==1.6.1
sentinels==1.0.0
singledispatch==3.7.0
six==1.16.0
Werkzeug==2.0.1
